[submodule "repos/erp-contratos"]
	path = repos/erp-contratos
	url = git@github.com:wilson-castro/erp-contratos.git
	branch = master
[submodule "repos/erp-nucleo"]
	path = repos/erp-nucleo
	url = git@github.com:wilson-castro/erp-nucleo.git
	branch = master
[submodule "repos/erp-dominio-stub"]
	path = repos/erp-dominio-stub
	url = git@github.com:wilson-castro/erp-dominio-stub.git
	branch = master
[submodule "repos/erp-moldura"]
	path = repos/erp-moldura
	url = git@github.com:wilson-castro/erp-moldura.git
	branch = master
[submodule "repos/erp-shell"]
	path = repos/erp-shell
	url = git@github.com:wilson-castro/erp-shell
	branch = master
[submodule "repos/erp-zona-1"]
	path = repos/erp-zona-1
	url = git@github.com:wilson-castro/erp-zona-1
	branch = master
[submodule "repos/erp-zona-2"]
	path = repos/erp-zona-2
	url = git@github.com:wilson-castro/erp-zona-2
	branch = master
[submodule "repos/erp-zona-acesso"]
	path = repos/erp-zona-acesso
	url = git@github.com:wilson-castro/erp-zona-acesso
	branch = master
